
<%= form_for(@user) do |f| %>

  <div class="email">
   <%= f.label :email %><br>
   <%= f.text_field :email %>
  </div>
 
 <div class="Passoword">
   <%= f.label :encrypted_password %><br>
   <%= f.url_field :encrypted_password %>
  </div>
  
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
