<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= render 'shared/topnav' %>
<p>
  <strong>Name:</strong>
  <%= @category.name%>
</p>

<p>
  <strong>Thumburl:</strong>
  <%= image_tag @category.thumburl %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= render 'shared/footer' %>